{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #0066cc;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Home</h1>    
    
    <br></br>

    <h2>Welcome to our Projects Website!</h2>
    <br></br>

    <p>
    This website will allow you to upload information about a previous Computer Science Project that you want to show off!
    <br></br>
    To submit a project:
    <ul>
        <li>You must create an account or log into a previously created account by using the "Create Account" and "Login" in the top right corner</li>
        <li>Then you must go and press "Submit Project" where you will fill out a form describing your project</li>
        </ul>

    To view projects:
    <ul>
        <li>You can view courses by searching by category by pressing "Explore Projects"</li>
        <li>If you want to view all projects you can press "List Projects" and you will be taken to a page will all projects</li>
    </ul>

    </p>
    
    <div class="main-container">
     
    </div>


    <script>

   
   
               


    </script>
</body>
{% endblock %}
