{% extends "base.html" %}
{% block title %}Projects List{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>*Sample* Projects</title>
    <style>
      
    </style>
</head>

<body>
    <h1>Filtered Projects</h1>

    {% if selected_categories %}
    <p>Showing projects in categories: {{ ", ".join(selected_categories) }}</p>
    {% else %}
    <p>Showing all projects.</p>
    {% endif %}

    <ul>
    {% for project in projects %}
        <li>{{ project.title }} — {{ project.category }}</li>
    {% endfor %}
    </ul>

<a href="/exploreProjects">Back to Explore</a>

    
    


    
    <div class="main-container">
     
    </div>


    <script>

   
   
               


    </script>
</body>
{% endblock %}
