{% extends "base.html" %}
{% block title %}Submit Project{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Submission</title>
    <style>
      
    </style>
</head>

<body>
    <h1>Project Submission</h1>


    
    <button type="button" id="submitButton">Submit Tutorial</button>
    
    


    
    <div class="main-container">
     
    </div>


    <script>

   
   
               


    </script>
</body>
{% endblock %}